<div class="component-container">
    <h1 class="home-heading">Interview <span style="color: var(--primary-color)">Crack</span></h1>

    <div class="card custom-card" *ngIf="cardActive==='signIn'">
        <h3 class="heading">Sign In</h3>
        <input placeholder="Username or Email" class="input-field">
        <input placeholder="Password" type="password" class="input-field">
        <button class="btn btn-primary btn-custom">Sign In</button>
        <div class="form-last-line">
            <p (click)="cardActive='forgotPass'">Forgot Password?</p>
            <p (click)="cardActive='signUp'">Sign Up</p>
        </div>
    </div>
    
    <div class="card custom-card" *ngIf="cardActive==='signUp'">
        <h3 class="heading">Sign Up</h3>
        <input placeholder="Username" class="input-field">
        <input placeholder="Email" class="input-field">
        <input placeholder="Password" type="password" class="input-field">
        <input placeholder="Confirm Password" type="password" class="input-field">
        <button class="btn btn-primary btn-custom">Sign Up</button>
        <div class="form-last-line">
            <p (click)="cardActive='forgotPass'">Forgot Password?</p>
            <p (click)="cardActive='signIn'">Sign In</p>
        </div>
    </div>

    <div class="card custom-card" *ngIf="cardActive==='forgotPass'">
        <h3 class="heading">Reset Password</h3>
        <input placeholder="Email" class="input-field">
        <button class="btn btn-primary btn-custom">Reset</button>
    </div>

</div>


