
.component-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right top, #ada996, #c2b4a8, #d0c0bc, #dacfd0, #e3dee1, #e7e4e7, #ebeaec, #f0f0f0, #eeefee, #ededed, #ebeceb, #eaeaea);
  width: 100vw;
  height: 100vh;
}

.home-heading{
  font-size: xx-large;
  display: flex;
  margin-top: 5rem;
}

.heading{
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.form-last-line{
  display: flex;
  width: inherit;
  justify-content: space-between;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--tertiary-color);
}

.form-last-line:hover{
  color: var(--secondary-color);
}

.custom-card{
  margin-top: 2rem;
  padding: 2rem;
  background-color: white;
  width: 20rem;
}

.input-field{
  width: 100%;
  font-size: 14px;
  margin: 0.5rem;
  padding: 8.85px 13px;
  box-sizing: border-box;
  border: 1px solid #cfd8dc;
  border-radius: 3px;
  font-weight: 300;
}

.btn-custom{
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (max-width: 425px){
  .custom-card{
    padding: 1.5rem;
    width: 18rem;
  }
}

@media only screen and (max-width: 375px){
  .custom-card{
    width: 15rem;
  }
}

@media only screen and (max-width: 310px){
  .custom-card{
    width: 13rem;
  }
}