<header id="home">
    <nav class="home-navbar container" >
        <h1 class="home-heading">Interview <span style="color: #6C55F9;">Crack</span></h1>
        <button class="burger" (click)="burgerToogle=!burgerToogle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
        <ul [ngClass]="burgerToogle ? 'home-nav-list nav-list-collapse-resp':'home-nav-list'">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Service</a></li>
            <button class="btn btn-primary">Sign In</button>
        </ul>
    </nav>
</header>

<section class="container">
    <div class="home-box">
        <div class="half">
            <h1>Let's Help You to Crack those Interviews!</h1>
            <p>Practise the most asked interview problems with our newly designed techniques</p>
            <button class="btn btn-primary">Let's Start</button>
        </div>
        <div class="half">
            <img src="../../assets/interview.jpg" alt="interview-photo" width="90%" style="border-radius: 1.5rem;"> 
        </div>
    </div>
    <!-- <span style="display: flex; justify-content: center; align-items: center;" href="#about"> V </span>     -->
    <a class="down-arrow-button" href="#about"><img class="down-arrow" src="../../assets/right-arrow.png"></a>
</section>

<section class="container">
    <div class="card-box">
        <div class="card">
            <img src="../../assets/icon1.png" alt="icon" width="25%">
            <h5>Heading 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus mollitia odio soluta atque iusto optio molestias nemo, numquam place</p>
            <button class="btn btn-primary">Read More</button>
        </div>
        <div class="card">
            <img src="../../assets/icon2.png" alt="icon" width="25%">
            <h5>Heading 2</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus mollitia odio soluta atque iusto optio molestias nemo, numquam place</p>
            <button class="btn btn-primary">Read More</button>
        </div>
        <div class="card">
            <img src="../../assets/icon3.png" alt="icon" width="25%">
            <h5>Heading 3</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus mollitia odio soluta atque iusto optio molestias nemo, numquam place</p>
            <button class="btn btn-primary">Read More</button>
        </div>
    </div>   
</section>

<section class="container" id="about">
    <div class="about-box">
        <div class="half">
            <span>about us</span>
            <h2>The number site to Crack Interview</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat dolores quod et iste beatae voluptas repellendus tempore vitae, reprehenderit quisquam, dicta aspernatur repudiandae suscipit nemo aliquid! Dolorum, aperiam consectetur?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, doloremque aspernatur. Nostrum, dicta odio amet ab illum nesciunt soluta</p>
        </div>
        <div class="half">
            <img src="../../assets/about-img.jpg" alt="about-photo" width="80%" style="border-radius: 1.5rem;">
        </div>
    </div>
</section>