<header>
    <nav class="home-navbar container">
        <h1 class="home-heading">Interview <span style="color: #6C55F9;">Crack</span></h1>
        <ul class="home-nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Service</a></li>
            <button class="btn btn-primary">Sign In</button>
        </ul>
    </nav>
</header>

<section class="container">
    <div class="home-box">
        <div class="half">
            <h1>Let's Help You to Crack those Interviews!</h1>
            <p>Practise the most asked interview problems with our newly designed techniques</p>
            <button class="btn btn-primary">Let's Start</button>
        </div>
        <div class="half">
            <img src="../../assets/interview.jpg" alt="interview-photo" width="90%" style="border-radius: 1.5rem;"> 
        </div>
    </div>
</section>