.container {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

.home-navbar{
    display: flex;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.home-nav-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.home-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
}

.home-nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.home-nav-list li a{
    text-decoration: none;
    color: rgb(98 90 159 / 75%);
}

.home-nav-list li a:hover{
    color: #645F88
}

.btn{
    padding: 8px 24px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    color: #fff;
    background-color: #6C55F9;
    border-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.home-box{
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #F6F5FC;
    border-radius: 1.5rem;
}

.home-box h1{
    font-size: 2.5rem;
    color: #645F88;
    font-weight: 500;
    margin-bottom: 2rem;
}

.home-box p{
    font-size: 1.2rem;
    color: #8e8aad;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.home-box button{
    border-radius: 2rem;
    font-size: 1.2rem;
}

.half{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10% 3%;
}

.about-box{
    display: flex;
    align-items: center;
    justify-self: center;
}

.about-box span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #898798;
    font-weight: 500;
    margin-bottom: 8px;
}

.about-box h2{
    font-size: 2rem;
    color: #645F88;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.about-box p{
    color: #898798;
    line-height: 1.5;
}

.card-box{
    display: flex;
    justify-content: space-around;
}

.card-box h5{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #645F88 ;
}

.card-box p{
    text-align: center;
    color: #898798;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.card{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 12px rgb(95 92 120 / 12%);
    padding: 25px 25px;
    border-radius: 8px;
}

.down-arrow{
    width: 15px;
    height: 20px;
    transform: rotate(90deg);
}

.down-arrow-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -20px;
    width: 26px;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 6px rgb(100 95 136 / 24%);
    transition: all .2s ease;
    margin-bottom: 10rem;
}

.down-arrow-button:hover{
    background-color: #6C55F9;
}